.container {
  border: solid 1px pink;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}
.start-game {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 57px;
  background: linear-gradient(to bottom, #344aba, rgba(0, 20, 121, 0.83));
  padding: 138px 33px 64px 33px;
  border-radius: 48px;
  box-shadow: inset 0 -8px 0 4px rgba(20, 14, 102, 1),
    inset 0 6px 0 8px rgba(36, 99, 255, 1);
}
.start-game img {
  width: 263px;
  position: absolute;
  top: -50px;
}
