<div class="container">
  <div class="header">
    <a routerLink="/" class="option back-button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="41"
        height="39"
        fill="none"
        viewBox="0 0 41 39"
      >
        <path
          fill="#fff"
          d="M0 19.5 19.02.5v12.244C26.348 12.744 41 17.896 41 38.5c0-11.147-14.653-13.37-21.98-13.089V38.5L0 19.5Z"
        />
      </svg>
    </a>

    <h3 class="heading">Pick a Category</h3>
  </div>

  <div class="main-content categories">
    <a routerLink="" class="selectable-category">Movies</a>
    <a routerLink="" class="selectable-category">TV Shows</a>
    <a routerLink="" class="selectable-category">Countries</a>
    <a routerLink="" class="selectable-category">Capital Cities</a>
    <a routerLink="" class="selectable-category">Animals</a>
    <a routerLink="" class="selectable-category">Sports</a>
  </div>
</div>
