.categories {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.selectable-category {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77px;
  border-radius: 20px;
  font-size: 24px;
  width: 100%;
}
