<div class="container">
  <div class="header">
    <a routerLink="/" class="option back-button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="41"
        height="39"
        fill="none"
        viewBox="0 0 41 39"
      >
        <path
          fill="#fff"
          d="M0 19.5 19.02.5v12.244C26.348 12.744 41 17.896 41 38.5c0-11.147-14.653-13.37-21.98-13.089V38.5L0 19.5Z"
        />
      </svg>
    </a>

    <h3 class="heading">How to Play</h3>
  </div>

  <div class="main-content">
    <div class="tip">
      <div class="top">
        <h3 class="number">01</h3>
        <h3 class="title">Choose a category</h3>
      </div>
      <div class="text-content">
        <p>
          First, choose a word category, like animals or movies. The computer
          then randomly selects a secret word from that topic and shows you
          blanks for each letter of the word.
        </p>
      </div>
    </div>
    <div class="tip">
      <div class="top">
        <h3 class="number">02</h3>
        <h3 class="title">Guess Letters</h3>
      </div>
      <div class="text-content">
        <p>
          Take turns guessing letters. The computer fills in the relevant blank
          spaces if your guess is correct. If it’s wrong, you lose some health,
          which empties after eight incorrect guesses.
        </p>
      </div>
    </div>
    <div class="tip">
      <div class="top">
        <h3 class="number">03</h3>
        <h3 class="title">Win or lose</h3>
      </div>
      <div class="text-content">
        <p>
          You win by guessing all the letters in the word before your health
          runs out. If the health bar empties before you guess the word, you
          lose.
        </p>
      </div>
    </div>
  </div>
</div>
