/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-navy: #261676;
  --blue: #2463ff;
  --white: #ffffff;
  --blue-hover: #5b8aff;
}

html,
body {
  height: 100%;
}

body,
button {
  font-family: "Mouse Memoirs", sans-serif;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

button {
  text-transform: uppercase;
}

body {
  background-image: url("./assets/images/background-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--white);
}

/* Button One Styles */
.button-one {
  font-size: 32px;
  padding: 12px 64px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 40px;
  border: none;
  appearance: none;
  box-shadow: inset 0 -2px 0 3px rgba(20, 14, 102, 1),
    inset 0 1px 0 6px rgba(60, 116, 255, 1);
  cursor: pointer;
  transition: 0.2s ease-in;
}

.button-one:hover {
  background-color: var(--blue-hover);
}

/* Button Two Styles */
.button-two {
  font-size: 32px;
  padding: 12px 64px;
  background: linear-gradient(to bottom, #fe71fe, #7199ff);
  color: var(--white);
  border-radius: 40px;
  border: none;
  appearance: none;
  box-shadow: inset 0 -2px 0 3px rgba(20, 14, 102, 1),
    inset 0 1px 0 6px rgba(198, 66, 251, 1);
  cursor: pointer;
  transition: 0.2s ease-in;
}

.button-two:hover {
  background: linear-gradient(to bottom, #fe71fe, #b6caff);
}

.playable-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 112px;
  height: 128px;
  font-size: 88px;
  padding: 12px 42px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 40px;
  border: none;
  appearance: none;
  box-shadow: inset 0 -2px 0 3px rgba(20, 14, 102, 1),
    inset 0 1px 0 6px rgba(60, 116, 255, 1);
  cursor: pointer;
  transition: 0.2s ease-in;
}

.disabled-playable {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 112px;
  height: 128px;
  font-size: 88px;
  padding: 12px 42px;
  background-color: var(--dark-navy);
  color: var(--white);
  border-radius: 40px;
  border: none;
  appearance: none;
  box-shadow: inset 0 -2px 0 3px rgba(20, 14, 102, 1),
    inset 0 1px 0 6px rgba(60, 116, 255, 0.2);
  cursor: pointer;
}

.regular-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 84px;
  font-size: 48px;
  color: var(--dark-navy);
  border-radius: 24px;
  border: none;
  cursor: pointer;
}

.regular-letter:hover {
  background-color: var(--blue);
  color: var(--white);
}

.disabled-regular-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 84px;
  font-size: 48px;
  color: var(--dark-navy);
  border-radius: 24px;
  border: none;
  background-color: #46415c;
}

.selectable-category {
  font-size: 48px;
  color: var(--white);
  width: 503px;
  height: 190px;
  border-radius: 40px;
  border: none;
  appearance: none;
  background-color: var(--blue);
  box-shadow: inset 0 -2px 0 3px rgba(20, 14, 102, 1),
    inset 0 1px 0 6px rgba(60, 116, 255, 1);
  cursor: pointer;
  transition: 0.2s ease-in;
}

.selectable-category:hover {
  background-color: var(--blue-hover);
}

.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 999px;
  border: solid 1px black;
  cursor: pointer;
  background: linear-gradient(to bottom, #fe71fe, #7199ff);
  box-shadow: inset 0 -4px 0 5px rgba(36, 48, 65, 1),
    inset 0 -12px 0 11px rgba(157, 45, 245, 1);
  transition: 0.2s ease-in;
}

.play-button:hover {
  background: linear-gradient(to bottom, #fe71fe, #b6caff);
}

.container {
  padding: 40px 25px;
  /* border: solid 1px pink; */
  width: 100%;
  height: 100%;
}

.main-content {
  margin: 80px 0;
}
.header {
  /* border: solid 1px pink; */
  /* padding: 0 36px; */
  display: flex;
  justify-content: space-between;
}

.heading {
  font-size: 48px;
  background: linear-gradient(to bottom, #67b6ff, var(--white));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px #243041;
  position: relative;
}

.option {
  padding: 15px 5px;
  border-radius: 999px;
  background: linear-gradient(to bottom, #fe71fe, #7199ff);
  border: solid 1px black;
  box-shadow: inset 0 -5px 0 -1px rgba(157, 45, 245, 0.25);
  cursor: pointer;
  /* padding: 10px; */
}

.option:hover {
  background: linear-gradient(to bottom, #fe71fe, #b6caff);
}

.option svg {
  height: 17px;
}

/*--------------------------------------------------------------------
Media Queries
--------------------------------------------------------------------*/
@media only screen and (min-width: 376px) {
  body {
    background-image: url("./assets/images/background-tablet.svg");
  }
}

@media only screen and (min-width: 769px) {
  body {
    background-image: url("./assets/images/background-desktop.svg");
  }
}
